/* General */
body{
    background: #eee;
}

/* Register */
.box-form{
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0px auto;
    float: none;
}

.box-form input{
    margin-bottom: 10px;
}

/* Header */
.navbar-collapse .avatar{
    background: white;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-left: 12px;
    margin-top: -5px;
}
.navbar-collapse .avatar img{
    height: 100%;
    text-align: center;
}