    {% extends "AppBundle:Layouts:base.html.twig" %}


    {% block content %}
       <div class="col-lg-8 box-form">
           <h2>Mis datos</h2>
           <hr/>
           
           {{form_start(form, {'enctype':'multipart/form-data'})}}
           
           {{form_end(form)}}
       </div>
    {% endblock %}