    {% extends "AppBundle:Layouts:base.html.twig" %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('assets/assets/js/custom/nick-test.js') }}"></script>
    {% endblock %}

    {% block content %}
       <div class="col-lg-8 box-form">
           
           <h2>Register</h2>
           <hr/>
           
           {{form_start(form, {'action':'', 'method':'POST'})}}
           {{form_errors(form)}}
           {{form_end(form)}}
           
       </div>
    {% endblock %}