<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %} Network {% endblock %}
        </title>
        
        {% block stylesheets %}
            <link href="{{ asset('assets/assets/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('assets/assets/css/bootstrap.cosmo.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('assets/assets/css/style.css') }}" type="text/css" rel="stylesheet" />
            
        {% endblock %}
        
        {% block javascripts %}
            <script type="text/javascript">
                var URL = "https://{{ app.request.host }}";
            </script>
            <script src="{{ asset('assets/assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/assets/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapse" data-togle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Navegacion</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{path("app_homepage")}}">
                            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                            Network
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {% if app.user == null %}
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="{{ path("login") }}">
                                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>>&nbsp;
                                        Entrar
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("register") }}">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                                        Registro
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                        
                        {% if app.user != null %}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <div class="avatar">
                                            {%if app.user.image == null %}
                                                <img src="{{ asset('assets/assets/images/default.png') }}">
                                            {%else%}
                                                <img src="{{ asset('uploads/users/'~app.user.image) }}">
                                            {%endif%}
                                        </div>&nbsp;
                                        {{ app.user.name }} {{ app.user.surname }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ path("user_edit") }}">
                                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;
                                                Mis Datos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp;
                                                Mi Perfil
                                            </a>
                                        </li>
                                        <li role="serparator" class="divider"></li>
                                        <li>
                                            <a href="{{path("logout") }}">
                                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> &nbsp;
                                                Salir
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> &nbsp;
                                                Mis Datos
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                        
                    </div>
                    
                </div>                
            </nav>
        </header>
        <section id="content">
            <div class="container">
                <div class="col-lg-11">
                    {% for message in app.session.flashbag().get('status') %}
                        <div class="alert alert-success">
                            {{message}}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div></div>
            {% block content %}
                content default
            {% endblock %}
        </section>
        <footer class="col-lg-12">
            <hr/>
            <div class="container">
            <p class="text-muted">Desarrollar una red social con Symfony3 - Richard Santiestevan</p>
            </div>
        </footer>
    </body>
    
</html>